body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #121212;
  color: #f0f0f0;
}

header, footer {
  text-align: center;
  padding: 2rem;
  background: #1f1f1f;
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

h1, h2 {
  color: #00bbff;
}

.project {
  margin-bottom: 2rem;
  border: 1px solid #333;
  padding: 1rem;
  border-radius: 8px;
}

a {
  color: #00bbff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.resume, .contact {
  margin-top: 3rem;
}

.profile-pic {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.project-image {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 1rem;
}

/* Carrossel */
.carousel {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.carousel-images img {
  width: 100%;
  flex-shrink: 0;
  border-radius: 10px;
  object-fit: cover;
  max-height: 500px;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
  z-index: 1;
  border-radius: 50%;
  transition: background 0.3s;
  width: 50px;  /* Ajusta o tamanho das setas */
  height: 50px; /* Ajusta o tamanho das setas */
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

/* Botões */
.download-btn {
  background-color: #00bbff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: #0099cc;
}

.download-btn:active {
  background-color: #006a8e;
}

